VITE_FRONTEND_PORT=
BACKEND_FASTAPI_PORT=

MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_HOST=db
MYSQL_PORT=

BUILD_TAG=dev
IMAGE_PREFIX=capytoshka/deputy-on-track
FRONTEND_IMAGE=${IMAGE_PREFIX}-frontend:${BUILD_TAG}
BACKEND_IMAGE=${IMAGE_PREFIX}-backend:${BUILD_TAG}
